#form_crud{
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    grid-column: 1/5;
    background: white;
    box-shadow: -1px 10px 18px 1px rgb(0 0 0 / 42%);
}
#form_crud input{
    margin: 20px 0;
}
.prev_img{
    width: 100%;
}
.title_crud{
    text-align: center;
    margin-top: 20px;

    color: #0d47a1;
    font-size: 2rem;

}
.inputs_cruds{
    padding: 5px;
    font-size: 1.4rem;
    border:none;
    border-bottom: 1px solid black;
}
.amenties_inputs{
    margin: 20px 0;
    width: 100%;
}
.amenties_inputs input{
    width: 20px;
    height: 20px;
}
.amenties_inputs label{
    font-size: 1.4rem;
    margin: 0 10px;
    font-weight: bold;
}
.buttons_crud{    
    width: 250px;
    margin: 0 auto;
    padding: 10px;
    background: #0d47a1;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px;
}
.container_Hotel{
    align-items:center;
    display:flex; 
    flex-direction:column ;
    justify-content:center;
}
@media (min-width: 950px) {
    .prev_img{
        width: 200px;
        height: 200px;
    }
    #form_crud{
        align-items: center;
        grid-column:1/2;
        height: 950px;
        width: 90%;
        margin: 0 auto;
        margin-top: 20px; 
    }
}
@media (min-width: 1300px) {
    .main_content_card{
        width: 100%;
        grid-column: 2 / 5;
    }
}